#wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 96%; /* Segurando mais externa DIV */
	max-width: 1414px;
}

header {
	background-position: 0 top;
	background-repeat: repeat-x;
	background-image: url(../img/buntingSlice3.png);
	margin-right: 1.0416667%; /* 10 / 960 = 1.0416667 */
	margin-left: 1.0416667%; /* 10 / 960 = 1.0416667 */
	width: 97.9166667%; /* 940 / 960 = 97.9166667 */
}

#logo {
	display: block;
	padding-top: 75px;
	color: #0d0c0c;
	text-transform: uppercase;
	font-family: Arial, "Lucida Grande", Verdana, sans-serif;
	font-size: 3em; /* 48 / 16 = 3 */
}

#logo span { color: #dfdada; }

nav {
	padding-bottom: 25px;
	margin-top: 26px;
	margin-left: -1.0416667%; /* 10 / 960 = -1.0416667 */
	padding-right: 1.0416667%; /* 10 / 960 = 1.0416667 */
	width: 97.9166667%; /* 940 / 960 = 97.9166667 */
	background-repeat: repeat-x;
	background-image: url(../img/atwiNavBg.png);
	border-bottom-color: #bfbfbf;
	border-bottom-style: double;
	border-bottom-width: 4px;
}

nav ul li {
	display: inline-block;
	margin-right: 2.6595745%; /* 25 / 940 = 2.6595745 */
}

nav ul li a {
	height: 42px;
	line-height: 42px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, "Lucida Grande", Verdana, sans-serif;
	font-size: 1.6875em; /* 27 / 16 = 1.6875 */
	color: black;
}